.big{
    background-color: #f3d3d3;
}
.big1{
    background-color: #b3b3a1;
}
.big2{
    background-color: #c0ddfd;
}
.big3{
    background-color: lightgoldenrodyellow;
}
.big4{
    background-color: lightpink;
}
.big5{
    background-color: #e8eef1;
}
.big6{
    background-color: #adfffa;
}